/*--------------------------------------------------------------------------------	
 			Validadores de inputs
 --------------------------------------------------------------------------------*/	

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

/*--------------------------------------------------------------------------------	
 			Separadores de divs
 --------------------------------------------------------------------------------*/	

.divider{
	margin-top: 15px;
}

.alerta_li{
	border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eee;
}

.tdButton{
	display: inline;
}

.btn-table{
	margin-right: 3px;
}

/*----------------------------------------------------------------------------
		Ir arriba
----------------------------------------------------------------------------*/

.scrollup{
	display:none; 
	position: fixed;
	z-index: 9000;
	bottom: 0px;
	right: 40%;  
}

.dato_afiliado{
	margin: 0 0 0px;
}



.div_archivo{
	background-color:#CBC9FF;
	height:400px;
	overflow: auto;
}
